/* Global styles that apply throughout the site. */
body {
  font-family: @font_primary;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: @dark_gray3;
  background-color: @dark_gray;
  font-weight: 400;
  text-align: center;
}

a {
  color: @dark_gray3;
  &:hover {
    color: @blue;
  }
}

p {
  letter-spacing: 0.01em;
  line-height: 160%;
}

h2 {
  font-family: @font_secondary;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 100%;
  margin: 0 0 40px 0;
}

strong {
  font-weight: 600;
}

.all-caps {
  text-transform: uppercase;
}

input[type=text], input[type=email] {
  padding: 3px 4px;
  font-size: 1.4rem;
  border: 1px solid @light_gray4;
  width: 100%;
  color: @dark_gray2;
  .border-radius(2px);
  .box-shadow(#ddd 1px 1px 2px inset);
}

textarea {
  border: 2px solid @light_gray3;
  padding: 10px;
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  color: @dark_gray4;
  line-height: 22px;
  .border-radius(5px);
}

.text12 {
  font-size: 1.2rem;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin: 0;
}

