// Creates multi-browser compliant border radiuses.
.border-radius(@size) {
  -webkit-border-radius: @size;
  -moz-border-radius: @size;
  border-radius: @size;
}

// Creates multi-browser compliant box shadows.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

// Creates multi-browser-compliant calc strings.
.calc_string(@param; @string; @failover) {
  @{param}: @failover;
  @{param}:~"-webkit-calc(@{string})";
  @{param}:~"-moz-calc(@{string})";
  @{param}:~"calc(@{string})";
}

// Removes padding, margin and icons from <ul>'s and their <li>'s
.clean-ul() {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
  }
}

// Sets the specified css to run at < 768px
.respond-to-mobile(@css) {
  @media screen and (max-width: (@responsive_break - 1)) {
  @css();
  }
}

// Sets the specified css to run at >= 768px
.respond-to-desktop(@css) {
  @media screen and (min-width: @responsive_break) {
  @css();
  }
}

// Sets the specified css to run at >= 768px
.respond-to-desktop(@css) {
  @media screen and (min-width: @responsive_break) {
  @css();
  }
}

// Sets the specified css to run at < 768px
.respond-to-mobile(@css) {
  @media screen and (max-width: (@responsive_break - 1)) {
  @css();
  }
}
