//Home page specific declarations

/** Hosting Solutions Block **/
.hosting-solutions {
  .hosting-solution {
    position: relative;
    background: @blue2;
    border: 9px solid @white;
    padding: 0;
    a {
      color: @white;
      &:hover, &:active, &:focus {
        text-decoration: none;
      }
    }
    .box-shadow(0 5px 15px @transparent_black);

    .card-top {
      padding: 10px 5px 15px;
      border-bottom: 2px solid @blue9;
      .solution-icon {
        display: block;
        height: 50px;
        overflow: hidden;
        line-height: 50px;
        img {
          width: 50px;
          height: auto;
        }
      }
    }

    .card-arrow {
      position: relative;
      top: -15px;
      width: 26px;
      height: 26px;
      background-image: url(@card-arrow);
      background-size: 26px 26px;
      z-index: 30;
      .calc_string(left, ~"50% - 13px", 40%);
    }

    .card-bottom {
      position: relative;
      top: -26px;
      margin-bottom: -26px;
      padding: 20px 8px 10px;
      background: @blue3;
      min-height: 163px;
      .learn-more {
        display: block;
        text-decoration: underline;
        margin-bottom: 30px;
      }
      .solution-body {
        display: block;
        height: 96px;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }

    &:hover {
      background: @blue4;
      .card-bottom {
        background: @blue5;
      }
    }

    &.partner {
      background: @blue5;

      .card-top {
        border-bottom: 2px solid @blue4;
        img {
          width: 95%;
        }
      }
      .card-bottom {
        background: @blue6;
      }

      &:hover {
        background: @blue7;
        .card-bottom {
          background: @blue8;
        }
      }
    }
  }
  .hosting-rackspace {
    overflow: visible;
    h2 { margin-left: (@grid_gutter * 2);}
    .views-row-2 {
      left: @grid_gutter;
    }
    .views-row-3 {
      left: (@grid_gutter * 2);
    }
    .footer {
      padding: 65px 50px 0;
      background-image: url(@rack-connect);
      background-size: 389px 60px;
      background-repeat: no-repeat;
      background-position: 90px 0;
    }
  }
  .hosting-partner {
    overflow: visible;
    padding-left: 35px;
    h2 { margin-left: -@grid_gutter;}
    .views-row-1 {
      left: -@grid_gutter
    }
    .footer {
      padding: 40px 0 0;
    }
  }
  .footer {
    clear: both;
    line-height: 150%;
    a { text-decoration: underline; }
  }
}

/** IT Solutions Block **/
.it-solutions {
  .rs-col-8 {
    width: (1/8)*100%;
    float: left;
    span.solution-icon {
      display: block;
    }
    img {
      width: 70px;
      height: auto;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

/** Contact Form Block **/
.free-advice-from-experts {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  .form-padding {
    padding-left: 40px;
    margin-bottom: 20px;
    border-left: 1px solid @medium_gray;
    .respond-to-mobile({
      padding-left: @grid_gutter;
      border-left: none;
    }
  );
  }

  textarea {
    height: 50px;
    margin-bottom: 20px;
  }
  label {
    font-weight: 400;
  }
  .form-item, .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-submit {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    border: none;
    font-size: 14px;
    padding: 4px 15px;
    background: @green;
    .border-radius(4px);
  }
  .field-items .field-item .btn-default {
    background-color: @light_gray3;
    color: @dark_gray2;
    text-decoration: none;
    font-size: 1.0em;
    line-height: 3.0em;
    vertical-align: middle;
    i {
      float: left;
      margin-right: 15px;
    }
  }
  .phone-numbers {
    margin: 30px 0 30px 0;
  }
  .icon {
    margin-top: -2px;
  }
}

/** News & Event Block **/
.news-events {
  a {
    text-decoration: none;
  }

  .well {
    background: @white;

    h3 {
      color: @dark_gray2;
      font-weight: 700;
      font-size: 21px;
      line-height: 24px;
      margin-bottom: 20px;
      height: 96px;
    }

    .date-cat {
      text-transform: uppercase;
      font-weight: 800;
      color: @medium_gray;
    }

    .body {
      font-weight: 400;
      font-size: 14px;
      padding-bottom: 20px;
      min-height: 66px;
      height: 66px;
      margin-bottom: 55px;
      overflow: hidden;
    }

    .read-more {
      font-weight: 700;
      text-transform: uppercase;
    }

    &:hover {
      background: @medium_gray;
      color: @white;
      h3, .date-cat {
        color: @white;
      }
    }

  }
}