/** Basement Region **/
.outer-region-basement {
  background: @black;
  color: @white;
  font-size: 1.2rem;
  line-height: 18px;
  padding: 3px 0 6px 0;
  text-transform: uppercase;

  p {
    margin: 0;
    line-height: 20px;
  }
  select {
    background: @white;
    background-attachment: scroll;
    background-clip: border-box;
    background-size: auto;
    display: inline;
    font-family: @font_primary;
    font-size: 11px;
    color: @dark_gray4;
    -webkit-appearance: menulist;
  }
  .copyright {
    text-transform: capitalize;
    font-size: 0.8em;
    line-height: 1.4em;
    color: @medium_gray;
  }

  .region-selector {
    margin-top: 2px;
    background: url(@img-flags);
    width: 20px;
    height: 13px;
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

/** Region Selector **/
#regionSelect {
  overflow: hidden;
  margin-right: (@grid_gutter * 2);
  ul {
    .clean-ul();
    margin-left: (@grid_gutter * 2);
    li {
      list-style-type: none;
      list-style-image: none;
      white-space: nowrap;
      font-size: 1.3rem;
      line-height: 1.1rem;
      margin: 13px 0;
      padding: 2px 0;
      cursor: pointer;
      &.country {
        background-image: url(@img-flags);
        background-repeat: no-repeat;
        a {
          color: @dark_gray3;
          padding: 3px 0 3px 26px;
        }
      }
    }
  }

  .unitedstates, .usa {
    background-position: 0 0;
  }
  .argentina {
    background-position: 0 -280px;
  }
  .brazil {
    background-position: 0 -240px;
  }
  .chile {
    background-position: 0 -300px;
  }
  .colombia {
    background-position: 0 -220px;
  }
  .mexico {
    background-position: 0 -260px;
  }
  .peru {
    background-position: 0 -320px;
  }
  .venezuela {
    background-position: 0 -340px;
  }
  .uk, .unitedkingdom {
    background-position: 0 -20px;
  }
  .netherlands {
    background-position: 0 -140px;
  }
  .germany {
    background-position: 0 -100px;
  }
  .switzerland {
    background-position: 0 -380px;
  }
  .austria {
    background-position: 0 -360px;
  }
  .sa {
    background-position: 0 -180px;
  }
  .uae {
    background-position: 0 -200px;
  }
  .australia {
    background-position: 0 -40px;
  }
  .hk, .hongkong {
    background-position: 0 -120px;
  }
  .in, .india {
    background-position: 0 -440px;
  }
  .sg, .singapore {
    background-position: 0 -460px;
  }
  .ph, .philippines {
    background-position: 0 -420px;
  }
  .china {
    background-position: 0 -400px;
  }
}