/** Hero Region **/
.outer-region-hero {
  -webkit-font-smoothing: antialiased;
  margin-top: 35px;
  .background {
    height: 400px;
    background-color: @dark_gray5;
    background-position: 25% 50%;
    background-size: auto;
    color: @white;
    font-family: @font_secondary;

    h1, h2, h3 {
      font-family: @font_tertiary;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: normal;
    }
    h1 {
      font-size: 3.4rem;
      line-height: 4.0rem;
    }
    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 400;
      letter-spacing: 1px;
    }
    .views-row {
      padding: 110px 0 10px;
    }
    .btn {
      margin-top: 10px;
      min-width: 38%;
    }
  }
  .respond-to-mobile({
    .background {
      h1 {
        font-size: 2.7rem;
        line-height: 3.1rem;
      }
      .views-row {
        padding: 20px 10px 10px;
      }
    }
  });
}

