// Set all global variables for use through-out our stylesheet here:

// Grid settings
@grids: 5, 8, 12;             // Define grids with the following number of columns.
@max_container_width: 960px;  //
@responsive_break: 768px;     // Responsive breakpoint.
@grid_padding: 15px;          // Default padding for each grid column.

// Font settings
@font_primary: 'Open Sans',Helvetica,Arial,sans-serif;
@font_secondary: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
@font_tertiary: Quicksand,sans-serif;
@font_awesome: FontAwesome;

// FontAwesome Icons:
@font_awesome_search: '\f002';
@font_awesome_submenu_expanded: '\f0da';



// Master Color List
@white: #ffffff;
@red: #c40022;
@black: #1a1a1a;
@dark_gray: #2a2a2a;
@dark_gray2: #333333;
@dark_gray3: #414141;
@dark_gray4: #505050;
@dark_gray5: #555555;
@medium_gray: #666666;
@medium_gray2: #777777;
@light_gray2: #cccccc;
@light_gray: #eeeeee;
@blue: #1e82d7;

// Global Color Settings
@body_background: @dark_gray;
@body_color: @dark_gray4;


// Resources:
// TODO: Remove the resources not referenced in CSS.
@logo: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/navigation/rackspace-logo-tagline-simplified.svg';
@hero: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/backgrounds/homepage.jpg';
@icon-dedicated-hosting: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icon-dedicated-servers.png';
@icon-public-cloud: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icon-public-cloud.png';
@icon-private-cloud: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icon-private-cloud.png';
@icon-microsoft: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/microsoft-logo-white-2x.png';
@icon-amazon-web-services: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/aws-logo-white-2x.png';
@card-arrow: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/monopoly-card-arrow.png';
@rack-connect: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icon-rack-connect.png';


@icon-ecommerce: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_ecommerce.gif';
@icon-web-content-managemen: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_content_management.gif';
@icon-email: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_email_collaboration.gif';
@icon-productivity-collaboration: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_collaboration.gif';
@icon-website-hosting: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_website_hosting.gif';
@icon-web-apps: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_app_hosting.gif';
@icon-data-services: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_data_services.gif';
@icon-managed-security-compliance: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_private_cloud.gif';

@region-us: 'https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/sprites/global_flags.png';

