/*
Stylesheet generated via less preprocessor. Please consult less directory for source.
*/
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #505050;
  background-color: #2a2a2a;
  text-align: center;
}
a {
  color: #414141;
}
a:hover {
  color: #1e82d7;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 250;
  /** all header lists should be treated as inlines **/
  /** Ceiling **/
}
#header ul {
  margin: 0;
  list-style-type: none;
}
#header ul li {
  display: inline;
}
#header #ceiling-bar {
  background: #ffffff;
  text-transform: uppercase;
  font-size: 73%;
  font-weight: 600px;
  line-height: 42px;
  height: auto;
}
#header #navigation-bar {
  background: #1a1a1a;
  height: 60px;
  line-height: 60px;
}
#header #navigation-bar a {
  color: #ffffff;
}
#header #navigation-bar a.logo {
  display: block;
  width: 100%;
  height: 60px;
  background: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/navigation/rackspace-logo-tagline-simplified.svg') center center no-repeat #c40022;
  background-size: 90%;
}
/* Overriding any weird behaviors from the logged-in user toolbar. */
body.toolbar {
  padding-top: 30px;
}
body.toolbar #header {
  top: 30px;
}
/* Toolbar is in the way on mobile, so just remove it */
@media screen and (max-width: 767px) {
  body.toolbar {
    padding-top: 0;
  }
  body.toolbar #header {
    top: 0;
  }
  #toolbar {
    display: none;
  }
}
